.movieCard{
    border-radius: 15px;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    margin: 5Px 5px;
    padding: 20px;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 5Px 5px;
    padding-right: 20px;
    justify-content: space-evenly;
}