.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Appheader {
  background-color: #282c34;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  justify-content: space-evenly;
}

.AddMovie {
  background-color: #a5d19c;
  border-radius: 20px;
  position: relative;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  justify-content: space-evenly;
  top:15px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#outPopUp {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15; 
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: rgb(179, 223, 179);
  display: flex;
}
